/* DARK MODE */

:root{
    --backgroundDark : #101922;
    --textPrincipalDark:#e0e6f0;
    --textSecondaryDark:#8795a2;
    --taskBackgroundDark:#1d2833;
}


body{
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: var(--backgroundDark) !important;
}

header{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    
    h1{
        font-size: 2rem;
        color: var(--textPrincipalDark) !important;
    }
}

.avatar{
    display: flex;
    align-items: center;
    gap: 1rem;
    vertical-align: middle;
    
    p{
        margin: 0;
        line-height: 1;
    }

    
  .dark{
            width: 30px;
            align-items: center;
            cursor: pointer;
            border: none;
            background-color: white;
        }
    
    img{
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        
    }
}

.insertTask{
    button{
        background-color: rgba(21, 127, 235) !important;
        color: white;
        border: none;
    }
    input{
        height: 3rem;
        background-color: var(--taskBackgroundDark) !important;
        border: none;
        color: var(--textSecondaryDark) !important;
        
    }
    input::placeholder{
        color: var(--textSecondaryDark)!important;
    }

    button:active {
    background-color:  rgba(21, 127, 235, 0.5) !important; 
    transform: scale(0.98); 
}
}

hr {
  height: 1px; 
  background-color: black; 
  border: none; 
}
/* Filtros de activado */
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        color: rgba(160, 160, 160);
    }
}
.filter .btn-group{
    background-color: var(--taskBackgroundDark) !important;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.filter .btn-group button{
        color:var(--textSecondaryDark) !important;

}

.filter .btn-group .active{
    background-color: #101922;
    border: none;
    border-radius: 20% !important;
    color:var(--textPrincipalDark)!important;
}



/* TAREAS A REALIZAR */

#taskQuantity{
    color: var(--textSecondaryDark);
}

.tasks{
    margin-top: 2rem;
}

.tasks  .list-group .list-group-item{
    display: flex;
    justify-content: space-between;
    background-color: var(--taskBackgroundDark);
    color: var(--textPrincipalDark);
    border: none;
    
    button{
        background-color: #432830 !important;
        color: rgb(235, 79, 105) !important;
    }
    
    button:active {
        background-color:rgb(238, 11, 11, 0.8) !important;
        color: white !important;
        transform: scale(0.98); /* Reduce ligeramente el tamaño */
    }
    img{
        border-style:   rgb(235, 79, 105) !important;
        
    }
    .form-check-input{
        border-radius: 50%;
    }
  
}

  .hidden{
    display: none !important;
}

